name: Deploy Node.js App to EC2

on:
  push:
    branches: [ master ]   # or 'master' if your repo branch is master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Debug Host Variable
        run: |
          echo "Host IP from variable: ${{ vars.HOST_IP }}"

      - name: Deploy to EC2 instance
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.HOST_IP }}
          username: ubuntu
          key: ${{ vars.SSH_KEY }}
          script: |
            cd /home/ubuntu/nodejs-ssl-server
            git pull origin main
            npm install
            pm2 restart nodejs-ssl-server || pm2 start app.js --name nodejs-ssl-server
